<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="adminpanel.css">
</head>
<body>
<div class="sidebar">
    <h2>Admin Panel</h2>
    <a href="D_newappoiments.html">Add Doctor </a>
    <a href="">Doctor Details </a>
    <a href="D_appointmentList.html"> View Appoiment list</a>
    <a href="D_Profile.html"> Uplode Test </a>

</div>

<div class="content">
    <h3>Welcome To Admin Panel</h3>
</div>

</body>
</html>
