<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="adminpanel.css">
</head>
<body>
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <a href="">Add Assistant </a>
    <a href=""> Assistant Details </a>
    <a href=""> View Appoiment list</a>
    <a href=""> View Report Details </a>

</div>

<div class="content">
    <h3>Welcome To Admin Dashboard</h3>
</div>

</body>
</html>
