<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Appointment List</title>
    <link rel="stylesheet" href="appointmenthis.css">
</head>
<script src="../js/jquery-3.7.1.min.js"></script>
<script src="../js/AppoHis.js"></script>
<body>
<div class="container">
    <h1>Test Appointments</h1>
    <table>
        <thead>
        <tr>
            <th>Patient ID</th>
            <th>Date</th>
            <th>Test Type</th>
            <th>Appointment Status</th>

            </tr>

    </table>
</div>
</body>
</html>
