<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Panel</title>
    <link rel="stylesheet" href="doctorpanel.css">
</head>
<body>
<div class="sidebar">
    <h2>Doctor Panel</h2>
    <a href="D_newappoiments.html">New Appointments  </a>
    <a href="D_appointmentList.html">Appointments List</a>
    <a href="D_Uplode.html"> Uplode Reports</a>
    <a href="D_Profile.html"> View Profiles </a>

</div>

<div class="content">
    <h3>Welcome To Doctor Panel</h3>
</div>

</body>
</html>
