<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Job Portal</title>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h1>ABC Laboratory Service</h1>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="login.html" class="login-button">Login</a>
            <li><a href="Register.html" class="signup-button">Sing Up</a>
        </ul>
    </nav>
</header>
<main>

    <section class="banner">
        <div class="banner-content">
            <h1>Reliable & high-quality laboratory services </h1>
            <p>We employ the latest technology and innovations</p>

        </div>
    </section>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Resources</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact Us</h3>
            <ul>
                <li>Email: abclab@gmail.com</li>
                <li>Phone: +94110222333</li>
                <li>Address: Dublication road, Colombo 03, Srilanka</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Follow us on social media</h3>
            <div class="social-media">
                <a href="https://www.facebook.com/YourPage" target="_blank" rel="noopener noreferrer"><img src="image/fb.png" alt="Facebook"></a>
                <a href="https://twitter.com/YourPage" target="_blank" rel="noopener noreferrer"><img src="image/twi.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/YourPage" target="_blank" rel="noopener noreferrer"><img src="image/ins.png" alt="Instagram"></a>
            </div>

        </div>
    </div>
</footer>

</body>
</html>