<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an Appointment</title>
    <link rel="stylesheet" href="makeappointment.css">
</head>
<script src="../js/jquery-3.7.1.min.js"></script>
<script src="../js/MakeAppo.js"></script>
<body>
<div class="appointment-container">
    <h2>Make an Appointment</h2>
    <form id="appointmentForm">
        <div class="form-group">
            <label for="patientId">Patient ID:</label>
            <input type="text" id="patientId" name="patientId" required>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="testType">Test Type:</label>
            <select id="testType" name="testType">
                <option value="Blood Test"> Urine test</option>
                <option value="X-ray">Blood tests</option>
                <option value="MRI">Tumor Markers</option>
                <!-- Add more test types as needed -->
            </select>
        </div>


        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <button type="button" class="make-appointment-btn" onclick="saveAppointment()">make appointment</button>
    </form>
</div>
</body>
</html>
