<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Panel</title>
    <link rel="stylesheet" href="patientpanel.css">
</head>
<script src="../js/jquery-3.7.1.min.js"></script>
<script src="../js/Signup.js"></script>
<body>
<div class="sidebar">
    <h2>Patient Dashboard</h2>
    <a href="makeappointment.html">make Appointments</a>
    <a href="appointmenthis.html">Appointments History</a>
    <a href="report.html">Medical Reports</a>
    <a href="payment.html">Payment Methods</a>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <a href="index.html" class="button">Logout</a>
</div>

<div class="content">
    <h3>Welcome To Dashboard</h3>
</div>

</body>
</html>
