<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Panel</title>
    <link rel="stylesheet" href="patientpanel.css">
</head>
<body>
<div class="sidebar">
    <h2>Patient Panel</h2>
    <a href="makeappointment.html">make Appointments</a>
    <a href="appointmenthis.html">Appointments History</a>
    <a href="report.html">Medical Reports</a>
    <a href="pprofile.html">Profile</a>
    <a href="payment.html">Payment Methods</a>
</div>

<div class="content">
    <h3>Welcome To Patient Panel</h3>
</div>

</body>
</html>
